.lunbo { height:230px;}
.lunbo img { width: 100%; height: 230px;}
.yue { height: 40px; width: 100%;}
.yue img {width:70%; height: 50%; margin: 3% 0 0 15%;}
.row img { width: 50%; height: 65%;}
.row a { text-align: center; color: #000;}
